# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtualenv
venv/
env/
ENV/
.venv/

# VSCode
.vscode/

# PyCharm
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd

# Local settings
local_settings.py
.env
.env.*

# Node (если используешь для фронта)
node_modules/

# Coverage
htmlcov/
.coverage
.coverage.*
.cache

# Other
*.swp
*.swo 